/* GLOBAL BEST PRACTICE SETTINGS */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #1f2937; /* I guess any color that is soft on the eyes */
  height: 140vh;
}

/* .content-wrapper typically puts everything together and prevents duplicate code */
.content-wrapper {
  width: 100%;
  /* This max-width I discovered is really important because it centers everything */
  max-width: 75rem;
  margin: 0 auto;
  padding: 0px 16px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* NAVIGATION BAR */
.nav {
  background-color: #ffb447;
  color: white;
}
.nav .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 16px;
}
.nav ul {
  display: flex;
  font-size: 16px;
  gap: 16px;
}
a.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

/* HERO SECTION */
.hero-container {
  color: white;
  background-color: #ffb447;
  padding: 4rem 0;
}
.hero-container .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.hero-text {
  margin-top: 5px;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
}
.sign-up {
  margin-top: 1rem;
  background-color: #4792ff;
  border-color: white;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 8px;
  flex-shrink: 0;
}
.image {
  width: 700px;
  object-fit: cover;
  margin-left: 6rem;
  border-radius: 20px;
}

/* MAIN CONTENT AREA */

.main-content .content-wrapper {
  max-width: 70rem;
}
.content-title {
  font-size: 42px;
  font-weight: 900;
  margin: 2rem auto;
  background-color: #3b82f6;
  color: white;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 20px;
}

.feature-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 4rem;
}

.card {
  height: 300px;
  width: 500px;
  background-color: #789ecd;
  border-radius: 20px;
  object-fit: cover;
}

.card-description {
  max-width: 500px;
  text-align: center;
}
.card-title {
  color: white;
  background-color: #9abad8;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 3rem;
}
.card-text {
  font-size: 1.5rem;
}

.feature-row.reverse {
  flex-direction: row-reverse;
}
.card-title {
  font-size: 2rem;
}

/* QUOTE PART */
.quote-container {
  background-color: powderblue;
  padding: 4rem 8rem;
  margin: 2rem 0;
}
.quote-container .content-wrapper {
  max-width: 52rem;
  min-width: 40rem;
}
.quotes {
  display: flex;
  gap: 7rem;
}

.quote {
  font-size: 30px;
  font-weight: 300;
  color: #1f2937;
}
.popping {
  color: orange;
  font-weight: 900;
}
.author {
  display: flex;
  margin-top: 1rem;
  font-size: 18px;
  justify-content: flex-end;
  color: royalblue;
}

/* CALL TO ACTION */

.call-to-action .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  min-width: 40rem;
  max-width: 60rem;
  background-color: #3b82f6;
  color: white;
  border-radius: 25px;
  gap: 4rem;
}
.call-title {
  font-size: 36px;
  font-weight: 900;
}
.call-text {
  font-size: 1rem;
  margin-top: 8px;
  font-weight: normal;
}

/* FOOTER */
.footer {
  width: 100%;
  padding: 2rem 0;
  background-color: #789ecd;
  margin: 0 auto;
  padding: 16px 16px;
}
.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
}
