/* GLOBAL BEST PRACTICE SETTINGS */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #1f2937; /* I guess any color that is soft on the eyes */
  height: 140vh;
}

.content-wrapper {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0px 16px;
}
/* NAVIGATION BAR */
.nav {
  padding: 16px 0;
  background-color: #1f2937;
  color: white;
}
.nav .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
  font-size: 16px;
  gap: 16px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

/* HERO SECTION */
.hero-container {
  color: white;
  background-color: #1f2937;
  height: 25rem;
}
.hero-container .content-wrapper {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.hero-title {
  font-size: 48px;
  color: F9FAF8;
  font-weight: 900;
}
.hero-text {
  margin-top: 8px;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
}
.sign-up {
  background-color: #3b82f6;
  border-color: #3b82f6;
  color: white;
  padding: 8px 24px;
  font-weight: 900;
  border-radius: 8px;
}
.image {
  width: 600px;
  height: 200px;
  margin: 0 50px;
  background-color: white;
}
