/* GLOBAL BEST PRACTICE SETTINGS */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #1f2937; /* I guess any color that is soft on the eyes */
  height: 140vh;
}

/* .content-wrapper typically puts everything together and prevents duplicate code */
.content-wrapper {
  width: 100%;
  /* This max-width I discovered is really important because it centers everything */
  max-width: 75rem;
  margin: 0 auto;
  padding: 0px 16px;
}
/* NAVIGATION BAR */
.nav {
  padding: 16px 0;
  background-color: #789ecd;
  color: white;
}
.nav .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
  font-size: 16px;
  gap: 16px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

/* HERO SECTION */
.hero-container {
  color: white;
  background-color: #ffb447;
  padding: 4rem 0;
}
.hero-container .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-title {
  font-size: 48px;
  color: F9FAF8;
  font-weight: 900;
}
.hero-text {
  margin-top: 5px;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
}
.sign-up {
  margin-top: 1rem;
  background-color: #3b82f6;
  border-color: #3b82f6;
  color: white;
  padding: 8px 32px;
  font-weight: 900;
  border-radius: 8px;
}
.image {
  width: 600px;
  height: 200px;
  margin-left: 50px;
  background-color: white;
}

/* MAIN CONTENT AREA */

.content-title {
  font-size: 3rem;
  font-weight: 900;
  margin: 2rem auto;
  background-color: #ff985b;
  color: white;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 20px;
}

.right,
.left,
.main-content.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  flex-direction: row-reverse;
}
.card {
  margin: 16px 0;
  height: 300px;
  width: 400px;
  background-color: #789ecd;
}
